<div class="attribute col-lg-12">
	{% for name, widget in prod  %}
		{% if name != 'images' %}
			<div class="col-lg-{{ col }}">
				{{ form_widget(widget,  { 'attr' : { 'placeholder' : name, 'class' : 'form-control' } } ) }}
			</div>
		{% endif %}
	{% endfor %}
	<div class="col-lg-{{ col }}">
		<div class="btn-group">
			<a href="#" class="remove_attribute btn btn-xs btn-danger"><i class="fa fa-trash-o"></i></a>
			<a href="#" class="image_toogle btn btn-xs"><i class="fa fa-image"></i></a>
		</div>
	</div>
	<div class="asoc-image col-lg-12">
		{% if prod.images.vars.choices|length > 0 %}
			<select id="{{ prod.images.vars.id }}" name="{{ prod.images.vars.full_name }}" required="required" multiple="multiple" class="image-picker-multple">
				{% for val,choice in prod.images.vars.choices %}
					<option value="{{ val }}" data-img-src="{{ choice.data.getWebPath() }}" {{ (val in prod.images.vars.value) ? 'selected':'' }}> {{ choice.label }}</option>
				{% endfor %}
			</select>
		{% endif %}
	</div>
</div>