{% extends '@EasyAdmin/default/layout.html.twig' %}

{% block content %}
    <div class="row">
        <div id="content-header" class="col-sm-12">
            {% block content_header %}
                <div class="row">
                    <div class="col-sm-6">
                        <h1 class="title">{% block content_title %} Nuevo Producto {% endblock %}</h1>
                    </div>
                </div>
            {% endblock content_header %}
        </div>

        <div id="main" class="col-sm-12">
            <hr>
            {{ form_start(form, { 'attr' : { 'class' : 'form-horizontal' } }) }}
                {{ form_row(form._token) }}
                {% for name, widget in form.children  %}
                    {% if not widget.rendered and name != 'products' and name != 'images' %}
                        <div class="form-group">
                            {{ form_label(widget, widget.vars.label, { 'label_attr' : { 'class' : 'col-lg-2 control-label' } }) }}
                            <div class="col-lg-10">
                                {{ form_widget(widget, { 'attr' : { 'class' : 'form-control' }  }) }}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}

                {% include '@SunsetlabsProduct/Forms/ProductGroup/product_group_images.html.twig' with { 'form' : form } %}

                <hr>

                {% if form.vars.data.getId() %}
                    {% include '@SunsetlabsProduct/Forms/ProductGroup/product_group_items.html.twig' with { 'form' : form } %}
                {% endif %}
                
                <hr>

                <div class="col-lg-10 col-lg-offset-2">
                    <div id="form-actions-row">
                        <button type="submit" class="btn">
                            <i class="fa fa-save"></i> Gudardar
                        </button>
                        {% if form.vars.data.getId() %}
                            <a type="submit" id="button-delete" class="btn btn-danger" href="{{ path('delete_product', { 'id' : form.vars.data.getId() }) }}">
                                <i class="fa fa-trash"></i> Borrar
                            </a>
                        {% endif %}
                        <a class="btn btn-secondary" href="{{ path('admin', { 'action' : 'list', 'view' : 'list', 'entity' : 'ProductGroup' } ) }}">Listar Productos</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}

{% block body_javascript %}
    {{ parent() }}
    {% include '@SunsetlabsProduct/Forms/ProductGroup/product_group_form_js.html.twig' %}
{% endblock %}